html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*
    CUSTOM IMAGE
    -----------------------------------------
*/
.govuk-image-fluid {
    max-width: 100%;
    height: auto;
}
/* ----------------------------------------- */

/*
    OVERRIDE CLASSES
    -----------------------------------------
*/
.govuk-header {
    border-bottom: 10px solid #11554C;
}

.govuk-header__container {
    border-bottom: 10px solid #11554C;
}

.govuk-header__link--homepage {
    display: inline-block;
}

.govuk-service-navigation__item {
    border-color: #11554C;
}

.govuk-service-navigation__link:not(:hover):not(:focus) {
    color: #11554C;
}

.govuk-service-navigation__link:hover {
    color: #11554C;
}

.govuk-tag {
    background-color: #11554C;
    color: #FFFFFF;
}

.no-margin {
    margin: 0;
}

.licence-break {
    margin-top: 1rem;
    height: 5px;
/*    background-color: #ddd;*/
    margin-bottom: 1rem;
}

.licence-group {
    border-left: 5px solid #aaa;
}

.licence-group-new {
    border-left: 5px solid green;
}

.inline-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.static-button {
    width: unset;
}

.grey-out {
    color: #777;
}

.new-account-banner {
    background-color: #11554C;
    color: #FFFFFF;
    padding: 1rem;
    margin-bottom: 1rem;
}

.product-creation {
    width: calc(100% - 2rem);

    background-color: #f5f5f5;
    padding: 1rem;
    margin-bottom: 1rem;
}

.hidden {
    display: none !important;
}



/* ----------------------------------------- */