@{
    ViewData["Title"] = "Overview";
}

<h1 class="govuk-heading-xl">Licensee Record Management</h1>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <a href="/accounts" class="govuk-button" role="button" data-module="govuk-button">
            Go to account management
        </a>

    </div>

    <div class="govuk-grid-column-one-third">

        <a href="/products" class="govuk-button" role="button" data-module="govuk-button">
            Go to product management
        </a>

    </div>

</div>